$BACKGROUND_IMAGES: 1920 2691 3325 3847 4309 4730 5122 5490 5841 6000;

@mixin vendor-prefix($name, $args...) {
    -webkit-#{$name}: $args;
    -ms-#{$name}: $args;
    -moz-#{$name}: $args;
    -o-#{$name}: $args;
    #{$name}: $args;
}

@keyframes spin {
    from {
        @include vendor-prefix(transform, rotate(0deg));
    }

    to {
        @include vendor-prefix(transform, rotate(359deg));
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    
    font-size: 16px; 
    background-color: #141414;
}

.sp-background__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include vendor-prefix(transition, all 100ms);
}

.sp-background {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background-image: url('../img/bg2_hzgm8v/bg2_hzgm8v_c_scale,w_1920.jpg');
    background-size: cover;
    background-position: center;

    @each $BACKGROUND_IMAGE in $BACKGROUND_IMAGES {
        @media (min-width: $BACKGROUND_IMAGE/4 + px) {
            background-image: url('../img/bg2_hzgm8v/bg2_hzgm8v_c_scale,w_#{$BACKGROUND_IMAGE}.jpg');
        }
    }
}

.sp-profile {
    position: absolute;
    left: 50%;
    top: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
}

.circle-wrapper {
    @include vendor-prefix(transition, opacity 1000ms);
    @include vendor-prefix(transition-delay, 300ms);
}

.circle {
    position: absolute;
    border: 0.625em solid transparent;
    border-radius: 50%;  
    border-top-color: rgba(255, 255, 255, 0.3);
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-right-color: rgba(255, 255, 255, 0.3);
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
}

@for $i from 1 through 5 {
    .circle-#{$i} {
        $width: 16em + ($i * 2.5);
        $height: 16em + ($i * 2.5);
        width: $width;
        height: $height;
        @include vendor-prefix(animation, spin random(10 * $i) + s linear infinite);
        margin-left: -$width/2;
        margin-top: -$height/2;        
    }
}

.sp-title {
    position: absolute;
    left: 50%;
    top: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
    text-align: center;
    white-space: nowrap;
    color: #f2f2f2;
    text-transform: uppercase;

    h1 {
        @include vendor-prefix(transition, all 500ms);
        @include vendor-prefix(transition-delay, 300ms);
    }

    p {
        @include vendor-prefix(transition, all 500ms);
        @include vendor-prefix(transition-delay, 500ms);
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 0.75em 0 0.5em;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    letter-spacing: 0.35em;
    margin: 1em 0;
}

a {
	color: inherit;
	fill: inherit;
}

.sp-social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
    .sp-social-item {
        display: inline-block;
        width: 30px;
        height: 30px;

        &--github {
            fill: #f2f2f2;
            @include vendor-prefix(transition, all 500ms);
            @include vendor-prefix(transition-delay, 700ms);
        }           
        
        &--codepen {
            fill: #f2f2f2;
            @include vendor-prefix(transition, all 500ms);
            @include vendor-prefix(transition-delay, 900ms);
        }        
        
        &--linkedin {
            fill: #f2f2f2;
            @include vendor-prefix(transition, all 500ms);
            @include vendor-prefix(transition-delay, 1100ms);
        }
        
        svg {
            width: 100%;
            height: 100%;
        }
        
        &:not(:last-child) {
            margin-right: 10px;
        }

        .hover {
            &:hover {
                opacity: 0.3;
            }
        }

        .touch {
            &:focus {

            }
        }
    }
}

.lazy-load {
    opacity: 0;
    @include vendor-prefix(transition, opacity 300ms);
}

.lazy-loaded {
    opacity: 1;
}

.hidden {
    opacity: 0;
    @include vendor-prefix(transform, translateY(10px));
}