@keyframes content-cover-left {
    0% {
        transform: scaleX(0);
        transform-origin: 0% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 0% 100%;
    }
}

@keyframes content-reveal-left {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 0%;
    }
}

@keyframes content-cover-right {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 0%;
    }
}

@keyframes content-reveal-right {
    0% {
        transform: scaleX(1);
        transform-origin: 0% 100%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 0% 100%;
    }
}

@keyframes content-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    color: #222222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10vw 5vw;
    position: relative;

    @media (min-width: 700px) {
        align-items: flex-end;
        flex-direction: row;
        flex-flow: row-reverse;
        justify-content: flex-end;
        padding: 10vh 5vh;
    }

    @media (min-width: 1200px) {

    }
}

.content__header {
    position: relative;

    @media (min-width: 700px) {
        margin: 5vh 0 10vh -10vw;
        z-index: 1;
    }

    @media (min-width: 1200px) {

    }
}

.content__footer {
    position: relative;

    @media (min-width: 700px) {

    }
}

.content__title {
    display: inline-block;
    font-family: Arial;
    font-size: 12vw;
    line-height: 1.2em;
    padding: 0 1vw;
    position: relative;
    white-space: nowrap;

    @media (min-width: 700px) {
        font-size: 10vw;
    }

    @media (min-width: 1200px) {

    }
}

.content__subtitle {
    display: inline-block;
    font-family: Arial;
    font-size: 6vw;
    line-height: 1.2em;
    padding: 0 1vw;
    position: relative;
    white-space: nowrap;

    @media (min-width: 700px) {
        font-size: 5vw;
    }

    @media (min-width: 1200px) {

    }
}

.content__bio {
    display: inline-block;
    font-family: Arial;
    font-size: 4vw;
    line-height: 1.2em;
    padding: 0 1vw;
    position: relative;
    white-space: nowrap;

    @media (min-width: 700px) {
        bottom: 0;
        font-size: 1.5vw;
        left: calc(33.33333vw + 2vw);
        position: absolute;
    }
}

.content__element {

}

.content__revealer {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.content__revealer--primary {
    background-color: #663399;
}

.content__revealer--secondary {
    background-color: #E3BE3F;
}

.content__reveal {
    background-color: #ffffff;
    
    .content__element {
        animation-name: content-fade-in;
        animation-duration: 0ms;
        animation-timing-function: initial;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}

.content__reveal--left {
    .content__revealer {
        animation-name: content-cover-left, content-reveal-left;
        animation-duration: 500ms, 500ms;
        animation-timing-function: ease, ease;
        animation-delay: 0ms, 500ms;
        animation-fill-mode: forwards, forwards;
        transform: scaleX(0);
    }
}

.content__reveal--right {
    .content__revealer {
        animation-name: content-cover-right, content-reveal-right;
        animation-duration: 500ms, 500ms;
        animation-timing-function: ease, ease;
        animation-delay: 0ms, 500ms;
        animation-fill-mode: forwards, forwards;
        transform: scaleX(0);
    }
}

.content__reveal--delay-200 {
    .content__element {
        animation-delay: 700ms;
    }

    .content__revealer {
        animation-delay: 200ms, 700ms;
    }
}

.content__reveal--delay-400 {
    .content__element {
        animation-delay: 900ms;
    }

    .content__revealer {
        animation-delay: 400ms, 900ms;
    }
}

.content__reveal--delay-600 {
    .content__element {
        animation-delay: 1100ms;
    }

    .content__revealer {
        animation-delay: 600ms, 1100ms;
    }
}

.content__image {
    height: 66.66666vw;
    margin: 10vw 1vw;
    position: relative;

    @media (min-width: 700px) {
        height: 80vh;
        margin: 0;
        width: 33.33333vw;
    }

    @media (min-width: 1200px) {

    }

    .content__element {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/87/Golden_lion_tamarin_portrait3.jpg');
        background-position: top;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}
