$colours: (
	colour-1: #FFC857,
	colour-2: #E9724C,
	colour-3: #C5283D,
	colour-4: #255F85,
	colour-5: #293241
);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #222;
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.section {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.content {
	color: #fff;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.content-5 {
	text-align: center;
}

.text {
	display: block;

	.letter {
		display: inline-block;
	}
}

.text-large {
	font-size: 15vmin;
	font-family: 'Roboto', serif;
}

.text-medium {
	font-size: 10vmin;
	font-family: 'Roboto', serif;
}

.text-small {
	font-size: 5vmin;
	font-family: 'Roboto Slab', serif;
}

.text-8 {
	letter-spacing: 0.075em;
}

.text-9 {
	letter-spacing: 0.028em;
}

.text-10 {
	letter-spacing: 0.027em;
}

.button {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 4vmin;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	cursor: pointer;
	padding: 1.5vmin 2vmin;
	border: 0.5vmin solid #fff;
}

.circles {
	height: 40vmin;
	width: 40vmin;

	@media (min-width: 650px) {
		height: 30vmin;
		width: 30vmin;		
	}
}

.circle-wrapper {
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
}

.circle-wrapper-1 {}

.circle-wrapper-2 {
	transform: rotate(-40deg);
}

.circle-wrapper-3 {
	transform: rotate(30deg);
}

.circle-wrapper-4 {
	transform: rotate(170deg);
	@media (min-width: 650px) {
		transform: rotate(140deg);
	}
}

.circle {
	border-radius: 50%;

	a & {
		&:after { 
			border-radius: 50%;
			border: 1vmin solid transparent;
			@media (min-width: 650px) {
				border-width: 0.75vmin;
			}
			content: '';
			height: 100%;
			left: 50%;
			padding: 1vmin;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition-duration: 300ms;
			width: 100%;
		}

		&:hover {
			&:after {
				border-color: #dedede;
			}
		}
	}
}

.circle-small {
	height: 10vmin;
	width: 10vmin;

	@media (min-width: 650px) {
		height: 7.5vmin;
		width: 7.5vmin;		
	}
}

.circle-medium {
	height: 20vmin;
	width: 20vmin;

	@media (min-width: 650px) {
		height: 15vmin;
		width: 15vmin;		
	}
}

.circle-large {
	height: 40vmin;
	width: 40vmin;

	@media (min-width: 650px) {
		height: 30vmin;
		width: 30vmin;		
	}
}

.circle-1 {
	background-color: map-get($colours, colour-1);
}

.circle-2 {
	background-color: map-get($colours, colour-2);
	left: 50%;
	position: absolute;
	top: -20%;
	transform: translate(-50%, -50%);
}

.circle-3 {
	background-color: map-get($colours, colour-3);
	left: 50%;
	position: absolute;
	top: -65%;
	transform: translate(-50%, -50%);
}

.circle-4 {
	background-color: map-get($colours, colour-4);
	left: 50%;
	position: absolute;
	top: -105%;
	transform: translate(-50%, -50%);
}

.ring {
	border-radius: 50%;
	border: 1vmin solid #d3d3d3;
	@media (min-width: 650px) {
		border-width: 0.75vmin;
	}
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ring-1 {
	width: 58vmin;
	height: 58vmin;

	@media (min-width: 650px) {
		height: 43.5vmin;
		width: 43.5vmin;		
	}
}

.ring-2 {
	width: 95vmin;
	height: 95vmin;	

	@media (min-width: 650px) {
		height: 71.25vmin;
		width: 71.25vmin;		
	}
}

.ring-3 {
	width: 125vmin;
	height: 125vmin;

	@media (min-width: 650px) {
		height: 93.75vmin;
		width: 93.75vmin;		
	}	
}

.ring-4 {
	width: 165vmin;
	height: 165vmin;	

	@media (min-width: 650px) {
		height: 123.75vmin;
		width: 123.75vmin;		
	}	
}