$colours: (
	colour-1: #FFC857,
	colour-2: #E9724C,
	colour-3: #C5283D,
	colour-4: #255F85,
	colour-5: #293241
);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #222;
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.section {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.content {
	color: #fff;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.content-5 {
	text-align: center;
}

.text {
	display: block;

	.letter {
		display: inline-block;
	}
}

.text-large {
	font-size: 15vmin;
	font-family: 'Roboto', serif;
}

.text-medium {
	font-size: 10vmin;
	font-family: 'Roboto', serif;
}

.text-small {
	font-size: 5vmin;
	font-family: 'Roboto Slab', serif;
}

.text-8 {
	letter-spacing: 0.075em;
}

.text-9 {
	letter-spacing: 0.028em;
}

.text-10 {
	letter-spacing: 0.027em;
}

.circle {
	background-color: #fff;
	border-radius: 50%;
}

.circle-small {
	height: 10vmin;
	width: 10vmin;
}

.circle-medium {
	width: 20vmin;
	height: 20vmin;
}

.circle-large {
	width: 50vmin;
	height: 50vmin;
}

.circle-1 {
	animation: bob 4000ms ease-in-out infinite;
	background-color: map-get($colours, colour-2);
	left: -40%;
	position: absolute;
	top: -40%;
}

.circle-2 {
	background-color: map-get($colours, colour-1);
	transform: translate(-10%, -10%);
}

.circle-3 {
	animation: bob 4000ms ease-in-out infinite;
	animation-delay: 1000ms;
	background-color: map-get($colours, colour-3);
	left: 80%;
	position: absolute;
	top: 80%;
}

.circle-4 {
	animation: bob 4000ms ease-in-out infinite;
	background-color: map-get($colours, colour-4);
	animation-delay: 2000ms;
	left: 100%;
	position: absolute;
	top: 100%;
}

@keyframes bob {
    0% { transform: translateY(0); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0); }
}